<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="loginForm" ng-controller="registerController">
    <div class="loginInfo">
        <h1>Register</h1>
        <label>Username : </label>
        <input type="text" value="UserName" ng-model="username" />
        <label>Password :</label>
        <input type="text" value="Password" ng-model="password">
        <label>Enter Password Again:</label>
        <input type="text" value="Password" ng-model="password2">

        <button class="btn btn-info" ng-click="submit()">Submit</button>
        <button  class="btn btn-warning" value="Register" ng-click="back()">Back</button>

    </div>

</div>
</body>
</html>